<div class="col-sm-11 col-md-11 main">

	<h3>Application Details</h3>
	<div class="col-sm-12">
		<div class ="row">
			<button class="btn btn-labeled btn-info"> 
				<i class="glyphicon glyphicon-refresh rotate"></i></span> Reload App 
			</button>
			<button class="btn btn-labeled btn-info"> 
				<i class="fa fa-clone"></i></span>Clone App
			</button>
		</div>
	</div>
	<br/>
	<div class="col-sm-6">
		<div class ="row">
			<section class="panel panel-default">
				<header class="panel-heading font-bold">Summary</header>
				<div class="panel-body">
					<p>Server Status : {{app.ServerStatus}}</p>
				</div>
			</section>
		</div>
	</div>
	<div class="col-sm-6">
		<div class ="row">
			<section class="panel panel-default">
				<header class="panel-heading font-bold">Application Logs</header>
				<div class="panel-body">

				</div>
			</section>
		</div>
		<div class ="row">
			<section class="panel panel-default">
				<header class="panel-heading font-bold">Operations Logs</header>
				<div class="panel-body">

				</div>
			</section>
		</div>
	</div>
</div>