<br />
<br />
<div>
    <div>
        <div class="input-group">
            <input class="form-control" ng-model="searchText" placeholder="Search" type="search" ng-change="search()" /> <span class="input-group-addon">
            <span class="glyphicon glyphicon-search"></span>
        </span>
    </div>
    <table class="table  table-hover data-table TableC">
        <thead>
            <tr>
                <th> <a ng-click="sort('UID',$event)" >UID  <span class="{{Header[0]}}"></span></a></th>
                <th> <a ng-click="sort('fullName')"> FullName <span class="{{Header[1]}}"></span></a> </th>
                <th> <a ng-click="sort('Email')"> Email <span class="{{Header[2]}}"></span></a> </th>
                <th> <a ng-click="sort('Country')"> Country <span class="{{Header[3]}}"></span></a> </th>
                <th> <a>Create Session</a></span></a></th>
                <th><a>Client Applications</a></th>
                <th><a>Reset Password</a></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="customer in ItemsByPage[currentPage] | orderBy:columnToOrder:reverse">
                <td>{{customer.UID}}</td>
                <td>{{customer.fullName}}</td>
                <td>{{customer.Email}}</td>
                <td>{{customer.Country}}</td>
                <td><button class="btn btn-primary btn-xs"value="CreateSession" ng-click="showModal(customer)">Create Session</button></td>
                <td><button class="btn btn-primary btn-xs" value="Applications" ng-click="showApps(customer)">Show Applicaations</button></td>
                <td><button class="btn btn-primary btn-xs"value="ResetPassword" ng-click="showModalreset(customer)">Reset Password</button></td>
            </tr>
        </tbody>
    </table>
    <ul class="pagination pagination-sm">
        <li ng-class="{active:0}"><a ng-click="firstPage()">First</a>

        </li>
        <li ng-repeat="n in range(ItemsByPage.length)"> <a ng-click="setPage()" ng-bind="n+1">1</a>

        </li>
        <li><a ng-click="lastPage()">Last</a>

        </li>
    </ul>
</div>
</div>

<!-- Modal create session  -->
<div id="myModalsup" class="modal fade" role="dialog">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><b>Creer Session</b></div>
                <form class="form-horizontal" >
                    <div class="modal-body">
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Title">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" ng-model="user.name" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Title">URL:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" ng-model="user.Email" required/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="text">Role:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="text" ng-model="user.Role" required />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-2" for="Title">Phone:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="title" ng-model="user.Phone" required/>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="col-sm-offset-2 col-sm-10">
                            <input type="hidden" ng-model="mode">
                            <input type="button" value="Confirmer" ng-click="editer(user)" class="btn btn-primary"/>
                            <button class="btn" ng-click="hideModal()">Annuler</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
     <div id="myModal" class="modal fade" role="dialog">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h2></h2></div>
                <div class="modal-body"><b>La session a été crée avec success</b></div>
                <div class="modal-footer">
                    <input type="button" value="Voir Session" ng-click="session(customer)" class="btn btn-primary"/>
                    <button class="btn" ng-click="hideModal()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
    <div id="myModalreset" class="modal fade" role="dialog">
        <div  class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header"><h2></h2></div>
                <div class="modal-body"><b>Mot de passe a été réinitialisé avec success</b> </div>
                <div class="modal-footer">
                    <button class="btn" ng-click="hideModalreset()">Annuler</button>
                </div>
            </div>
        </div>
    </div>
